<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<string>zhushuangquan</string>
	<key>builderType</key>
	<string>iOS</string>
	<key>prefix</key>
	<string>UI</string>
	<key>module</key>
	<string>Home</string>
	<key>parameter</key>
	<dict>
		<key>kksss</key>
		<string>string</string>
		<key>tabId</key>
		<string>Int</string>
	</dict>
	<key>dataList</key>
	<dict>
		<key>model</key>
		<string>HYModel&lt;Goods&gt;</string>
		<key>name</key>
		<string>HYList&lt;HAHA&gt;</string>
		<key>map</key>
		<string>Dictionary</string>
		<key>num</key>
		<string>Int</string>
		<key>vector</key>
		<string>float</string>
	</dict>
	<key>actionList</key>
	<array>
		<dict>
			<key>function</key>
			<string>login1</string>
			<key>parameter</key>
			<dict>
				<key>name</key>
				<string>String</string>
				<key>map</key>
				<string>Dictionary</string>
				<key>num</key>
				<string>Int</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login2</string>
			<key>parameter</key>
			<dict>
				<key>map</key>
				<string>Dictionary</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login3</string>
			<key>parameter</key>
			<dict>
				<key>num</key>
				<string>Int</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login4</string>
		</dict>
	</array>
</dict>
</plist>
