<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<string>zhushuangquan</string>
	<key>builderType</key>
	<string>iOS</string>
	<key>prefix</key>
	<string>UI</string>
	<key>module</key>
	<string>Home</string>
	<key>dataList</key>
	<dict>
		<key>model</key>
		<string>Array</string>
		<key>name</key>
		<string>String</string>
		<key>map</key>
		<string>Dictionary</string>
		<key>num</key>
		<string>Int</string>
		<key>vector</key>
		<string>float</string>
	</dict>
	<key>actionList</key>
	<array>
		<string>click</string>
		<string>login</string>
		<string>alert</string>
		<string>pushToNextViewController</string>
	</array>
</dict>
</plist>
