<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefix</key>
	<string>SQ</string>
	<key>module</key>
	<string>Perfect</string>
	<key>parameter</key>
	<dict>
		<key>name</key>
		<string>string</string>
		<key>age</key>
		<string>Int</string>
	</dict>
	<key>dataList</key>
	<dict>
		<key>plan</key>
		<string>Array</string>
		<key>name</key>
		<string>String</string>
		<key>map</key>
		<string>Dictionary</string>
		<key>age</key>
		<string>Int</string>
		<key>height</key>
		<string>float</string>
	</dict>
	<key>actionList</key>
	<array>
		<dict>
			<key>function</key>
			<string>login1</string>
			<key>parameter</key>
			<dict>
				<key>name</key>
				<string>String</string>
				<key>map</key>
				<string>Dictionary</string>
				<key>age</key>
				<string>Int</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login2</string>
			<key>parameter</key>
			<dict>
				<key>map</key>
				<string>Dictionary</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login3</string>
			<key>parameter</key>
			<dict>
				<key>age</key>
				<string>Int</string>
			</dict>
		</dict>
		<dict>
			<key>function</key>
			<string>login4</string>
		</dict>
	</array>
</dict>
</plist>
